VITE_ASSETS_URL=
# storing hashed API key in envs is a good enough way for this app
# in case of loss of the key, just run `pnpm generate-api-key`, put the hashed key in the env and the raw key in the client app
HASHED_API_KEY=